@keyframes view1 {
  from {
    opacity: 1;
  }
  16% {
    opacity: 1;
  }
  33% {
    opacity: 0;
  }
  84% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes view2 {
  from {
    opacity: 0;
  }
  16% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}
@keyframes view3 {
  from {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  66% {
    opacity: 1;
  }
  84% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.wisebox {
  width: 100vw;
  background: #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wisebox .wise {
  margin: 10px auto;
  font-size: 1.5rem;
  font-family: 'East Sea Dokdo', cursive;
  text-align: center;
}
.imgbox {
  margin: 0 auto;
  width: 1080px;
  height: 500px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.imgbox img {
  position: absolute;
  width: 1080px;
}
.imgbox img:nth-child(1) {
  animation: view1 12s infinite;
}
.imgbox img:nth-child(2) {
  animation: view2 12s infinite;
}
.imgbox img:nth-child(3) {
  animation: view3 12s infinite;
}
.middle {
  margin: 0 auto;
  width: 1080px;
  height: 350px;
  display: flex;
}

@media (max-width: 500px) {
  .imgbox {
    margin: 0 auto 0;
    width: 100vw;
    height: 200px;
  }
  .imgbox img {
    width: 100vw;
  }
  .wisebox {
    /* border-bottom: 1px solid #9e9e9e; */
    position: absolute;
    top: 250px;
  }
  .wisebox .wise {
    margin: 5px auto;
    font-size: 1.2rem;
  }
}
